Source: ros-melodic-mrp2-slam
Section: misc
Priority: optional
Maintainer: Emir Cem Gezer <emircem.g@milvusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-amcl, ros-melodic-catkin, ros-melodic-gmapping, ros-melodic-map-server, ros-melodic-move-base, ros-melodic-tf, ros-melodic-urdf, ros-melodic-xacro
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-mrp2-slam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-amcl, ros-melodic-gmapping, ros-melodic-map-server, ros-melodic-move-base, ros-melodic-urdf, ros-melodic-xacro
Description: Launch scripts for mapping operations
