Source: ros-melodic-mrp2-teleop
Section: misc
Priority: optional
Maintainer: Emir Cem Gezer <emircem.g@milvusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-controller-manager, ros-melodic-diff-drive-controller, ros-melodic-interactive-marker-twist-server, ros-melodic-joint-state-controller, ros-melodic-joy, ros-melodic-joy-teleop, ros-melodic-robot-localization, ros-melodic-robot-state-publisher, ros-melodic-twist-mux
Homepage: http://wiki.ros.org/mrp2_teleop
Standards-Version: 3.9.2

Package: ros-melodic-mrp2-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-controller-manager, ros-melodic-diff-drive-controller, ros-melodic-interactive-marker-twist-server, ros-melodic-joint-state-controller, ros-melodic-joy, ros-melodic-joy-teleop, ros-melodic-robot-localization, ros-melodic-robot-state-publisher, ros-melodic-twist-mux
Description: Teleoperation and ros controls related launch files and configurations.
